.background {
  height: 100vh;
  background-color: #121212;
}

#div1 {
  background:
      radial-gradient(
      farthest-side at bottom right,
      rgba(0, 255, 0, 0.2),
      transparent
      ),
      radial-gradient(
      farthest-corner at bottom left,
      rgba(83, 83, 83, 0.5),
      transparent 800px
      ),
      radial-gradient(
      farthest-side at top right,
      rgba(93, 93, 93, 0.3),
      transparent 900px
      );
  background-color: #000000;
}

.gradients {
  height: 100vh;
  background:
    radial-gradient(
      farthest-side at bottom right,
      rgba(0, 255, 0, 0.2),
      transparent
    ),
    radial-gradient(
      farthest-corner at bottom left,
      rgba(83, 83, 83, 0.5),
      transparent 800px
    ),
    radial-gradient(
      farthest-side at top right,
      rgba(93, 93, 93, 0.3),
      transparent 900px
    );
}

h1 {
  color: #1ED760; 
  margin: 20px; 
  height: 10vh; 
  font-family: Impact; 
  font-size: 3.5em;
}

.green-button {
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.green-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.green-button:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}