{% extends "base.html" %}

{% block extra_css %}
{% load static %}

<link href="{% static 'css/game.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
<div id="div1" style="
height: 100vh;  /* 100% of the viewport height */
width: 100vw;" >
        <h1> Sorry, an error occured. Redirecting to home.</h1> 
        <p style="color: #ffffff; font-family: Impact; font-size: 1.3em; margin: 20px;"> Hint: If you don't have any liked songs, add some and try again :)</p>

</div>

<script>
    setTimeout(function() {
        window.location.href = '/';
    }, 5000); // Redirects after 5 seconds
</script>

{% endblock %}


