{% extends "base.html" %}

{% block extra_css %}
{% load static %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">
<link href="{% static 'css/gameselect.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="background">
        <div class="gradients">
            <h1>Select your game mode!</h1>
            <div class="option-container">
                <button id="streak" class="option-btn">Streak <br>🔥</button>
                <button id="timed" class="option-btn">Timed <br> ⏱️</button>
                <button id="bo10" class="option-btn">Best of 10 🏆</button>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_javascript %}
{% load static %}
<script src="{% static 'js/gameselect.js' %}"></script>
{% endblock %}

