{% extends "base.html" %}
{% block title %}{% block head_title %}{% endblock head_title %}{% endblock title %}

{% block extra_css %}
{% load static %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">
<link href="{% static 'css/accountbase.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="background">
  <div class="gradients">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        {% block inner %}{% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
